<header class="header">
    <div class="headerLogo">
        <h1 class="logoText">Odin Inventory</h1>
    </div>
    <nav class="headerNav">
        <a href="/" class="navLinkDashboard">Dashboard</a>
        <a href="/manage" class="navLinkActions">Manage</a>
    </nav>
</header>